.deps
.libs
*.a
*.gz
*.la
*.lo
*.o
aclocal.m4
autom4te.cache
build-scripts/*.m4
build-scripts/config.guess
build-scripts/config.sub
build-scripts/depcomp
build-scripts/install-sh
build-scripts/ltmain.sh
build-scripts/missing
config.cache
config.log
config.status
configure
libtool
Makefile
Makefile.in
rotter.1
stamp-h1

src/rotter
src/config.h
src/config.h.in
